<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimViec"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.timviec.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path2" />
        </provider>

        <activity
            android:name=".Activities.ShowCVActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVPrize2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVPrizeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVActivities2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVExperience2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVEdu2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVEduActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVSkills2Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditTargetCVActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCommunicationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditIntroduceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.InforJobActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditCVActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Signup_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>